{% extends "head.html" %}
{% block nav_home_class%}active{% endblock nav_home_class%}
{% block content %}
<div class="jumbotron">
	<h1 class="display-4">{{ section.title }}</h1>
	<p class="lead">{{ section.description }}</p>
	<hr class="my-4">
	<p>Revolve uses TOML formatted files to generate and execute bash bases pipelines. Created for running bioinformatics pipelines.</p>
</div>
<div id="revole-example" class="col-md-6">Use this</div>
<div id="revolve-graph" class="col-md-6">To create this</div>
{% endblock content %}
