{% extends "head.html" %}
{% block nav_docs_class%}active{% endblock nav_docs_class%}
{% block content %}
<div class="container no-gutters m-3">
	<div class="row">
		<div class="col-2 bd-sidebar sticky-top">
			<div class="bd-links flex-column">
				{% set section = get_section(path="docs/_index.md") %}
				{% for p in section.pages %}
				<div class="bd-toc-item">
					<a class="bd-toc-link" href="{{ p.permalink }}">{{ p.title }}</a>
					<ul>
						{% for s in p.toc %}
						<li class="bd-sidenav">
							<a href="{{ s.permalink }}">{{ s.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-10">
			{{ page.content | safe }}
		</div>
	</div>
</div>
{% endblock content %}

